* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body{
        background-color: #ffffff;
        background-image: url(img/gray-abstract-wireframe-technology-background_53876-101941.webp);
        background-repeat: repeat;
        background-position: top;
        background-attachment: fixed;
        margin: 30px 140px 10px 140px;
        
   
}

header{
  /* margin: 30px 140px 10px 140px; |*/
    border: 1px solid #000;
    height: 160px;
    margin: 0 auto;

}

#fotoheader {
    border: 1px solid #000;
    height: 130px;
    width: 100px;
    margin: 10px 20px 10px 10px; 
    background-image: url(img/adidas-logo.png);
    background-size: 100px 110px;
    background-repeat: no-repeat;
    float: left;
    
}

#tituloheader {
    margin: 12px;
    border: 1px solid #000 ;
    width: 300px;
    height: 40px;
    float: right;
}

#esquerdanav {
    margin: 12px 0px 0 12px; 
    border: 1px solid #000;
    width: 650px;
    height: 60px;
    float: right;

}
#direitanav {
    margin: 12px 0px 0 0px; 
    border: 1px solid #000;
    width: 630px;
    height: 60px;
    float: left; 
}

#nav1 {
    margin: 0 auto;
    float: 0 auto;
    border: 0px;
}

main {
    margin: 0 auto;
    border: 0px solid #000;
    width: 1000;
    height: 400px;

}

#asidee {
    margin: 90px 0px 0px 0px;
    border: 1px solid #000;
    width: 230px;
    height: 480px;
}

.sectionn {
    margin: 10px 20px 10px 20px;
    border: 1px solid #000;
    width: 190px;
    height: 190px;
    background-color: #ffffff;
    background-image: url(img/f55072de06474e24c8cedd2ff949a7b1.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px 0px 0px;
    background-size: 230px 200px;
}

article {
    margin: -482px 0px 0px 245px;
    border: 1px solid #000;
    width: 800px;
    height: 480px;
    float: left;
}

#asidea {
    margin: -482px 0px 0px 0px;
    border: 1px solid #000;
    width: 240px;
    height: 480px;
    float: right;
    background-color: #ffffff;
    background-image: url(img/Pngfind.com-vegeta-png-1222876.webp);
    background-repeat: no-repeat;
    background-position: 0px 0px 0px 200px;
 
    background-size: 230px 500px;
}

.meio {
    margin: 20px 15px 0px 10px;
    border: 1px solid #000;
    width: 360px;
    height: 130px;
    float: right;
}

.deitado {
    margin: 170px 15px 0px 15px;
    border: 1px solid #000;
    width: 770px;
    height: 100px;
    

}

.meiobaixo {
    margin: 15px 15px 0px 20px;
    border: 1px solid #000;
    width: 360px;
    height: 130px;
    float: right;
}

#pe{
    margin: 15px 0px 0px 50px;
    border: 1px solid #000;
    width: 1300px;
    height: 100px;
    float: right;
    
}

.texto {
    color:#000;
    font-size: 24pt;
    float: justify;
}

